:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-main {
    flex: 1;
    padding: 2rem;
    max-width: 800px;
    margin: 50px auto 0 auto;
    width: 100%;
    padding-bottom: 40px;
}

.app-footer {
    position: fixed;
    bottom: 5px;
    left: 10px;
    font-size: 0.75rem;
    color: #888;
    z-index: 100;
}

.app-header {
    height: 50px;
    width: 100%;
    background-color: #646cff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.status-indicator {
    display: flex;
    gap: 5px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}